/* To avoid overflow in small devices */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: goldenrod;
  border: goldenrod;
}

.btn:hover {
  background-color: rgb(165, 123, 15);
}

.repo-btn {
  background-color: rgb(49, 45, 45);
}

.repo-btn:hover {
  background-color: black;
}

.navLink {
  margin-right: 30px;
  font-weight: bold;
  font-size: larger;
}

.active {
  color: goldenrod;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.avatar > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid goldenrod;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.avatar h1 {
  padding-top: 40px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Sacramento", cursive;
}

@media screen and (min-device-width: 490px) and (max-device-width: 580px) {
  .avatar h1 {
    font-size: 40px;
  }
}

@media screen and (min-device-width: 400px) and (max-device-width: 489px) {
  .avatar h1 {
    font-size: 30px;
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 399px) {
  .avatar h1 {
    font-size: 22px;
  }
}

.avatar p {
  text-align: center;
}

.icons {
  font-size: 35px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: goldenrod;
}

.about_card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.about_card_tech {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 50px;
  height: 50px;
  padding-left: 15px;
}

.project_cards {
  width: 25rem;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

@media screen and (min-device-width: 0px) and (max-device-width: 429px) {
  .project_cards {
    width: 18rem;
    margin: auto;
  }
}

.form_card {
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  width: 50rem;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  background-color: #f8f9fa;
}

@media screen and (min-device-width: 0px) and (max-device-width: 429px) {
  .contact {
    padding: 10px;
  }
}

.blog_card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.tweet {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
}

/* Timeline */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

::selection {
  color: #fff;
  background: goldenrod;
}
.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: goldenrod;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: goldenrod;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
  color: goldenrod;
  font-weight: bold;
}
.row section p {
  margin: 10px 0 17px 0;
}
.row section .bottom a {
  text-decoration: none;
  background: goldenrod;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover {
  transform: scale(0.97);
}
@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
}
